<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="name">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="recipe.title"
            name="title"
            #title="ngModel"
          /> 

          <div *ngIf="title.invalid && title.touched">
            <div *ngIf="title.errors">
              <span style="color: rgb(255, 0, 0)">Title is required </span>
            </div>
          </div> 

        </div>  

        <div class="form-group">
          <label for="numberOfServings">Number Of Servings</label>
          <input
            type = "number"
            class="form-control"
            id="numberOfServings"
            min="1"
            required
            [(ngModel)]="recipe.numberOfServings"
            name="numberOfServings" 
            #numberOfServings="ngModel"
            />

            <div *ngIf="numberOfServings.invalid && numberOfServings.touched">
              <div *ngIf="numberOfServings.errors">
                <span style="color: rgb(255, 0, 0)">Integer number greater than 0 is required </span>
              </div>
            </div> 

        </div>
        <div class="form-group">
          <label for="totalTime">Total time</label>
          <input
            class="form-control"
            id="totalTime"
            [(ngModel)]="recipe.totalTime"
            name="totalTime" />
        </div>
        
        <div class="form-group">
          <label for="rating">Rating</label>
          <input
            class="form-control"
            id="rating"
            [(ngModel)]="recipe.rating"
            name="rating" 
            min = 1
            max = 5
            #rating="ngModel"
          />

          <div *ngIf="rating.invalid && rating.touched">
            <div *ngIf="rating.errors">
              <span style="color: rgb(255, 0, 0)">Number must be between 1 and 5 </span>
            </div>
          </div> 
        </div>

        <button (click)="saveRecipe()" *ngIf = isValid() class="btn btn-success">Submit</button>
      </div>

      <div *ngIf="submitted">
        <h4>Recipe was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newRecipe()">Add</button>
      </div>
    </div>
  </div>
